---
// import { Image } from "@astrojs/image/components";
const { data } = Astro.props;
---

<div class="project-wrapper">
  <div class="project-inner">
    <div class="image-wrapper canvas-wrapper">
      <a
        href=`/work/${data.slug}`
        class="canvas-container"
        data-texture={data.imageUrl}
      >
        <canvas class="image-bulge-scene"></canvas>
      </a>
    </div>
    <!-- <div class="image-wrapper">
      <Image
        src={data.imageUrl}
        alt=`Project thumbnail for ${data.title}`
        width={1463}
        height={686}
        format="webp"
        quality={100}
        class="image-inner"
      />
    </div> -->
    <div class="text-wrapper">
      <h1>
        <a
          href=`/work/${data.slug}`
          id="link-hover-text"
          data-hide-arrow="false"
        >
          {data.title}
        </a>
      </h1>
      <p>{data.description}</p>
      <div class="pills">
        {
          data.design && (
            <div class="pill" style={{ background: "var(--green)" }}>
              <h6>Design</h6>
            </div>
          )
        }
        {
          data.development && (
            <div class="pill" style={{ background: "var(--yellow)" }}>
              <h6>Web development</h6>
            </div>
          )
        }
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .project-wrapper {
    background: var(--white);
    border-radius: var(--border-xl);
    margin: 1.25rem auto;
    padding: 2.5rem;
    padding-bottom: 5rem;
  }
  .project-wrapper:first-of-type {
    margin-top: 0;
  }
  .project-inner {
    margin: 0 auto;
    width: 100%;
  }
  .image-wrapper {
    position: relative;
    aspect-ratio: 1463/686;
    height: auto;
    width: 100%;
    display: grid;
    place-items: center;
    .image-inner {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
    canvas {
      border-radius: var(--border-l);
      overflow: hidden;
    }
  }
  .text-wrapper {
    margin-top: 3rem;
    h1 {
      line-height: 100%;
      margin-bottom: 1rem;
    }
    p {
      max-width: 990px;
      color: var(--grey-300);
    }
  }
  .pills {
    display: flex;
    margin-top: 1rem;

    .pill {
      margin-right: 1rem;
      border-radius: var(--border-m);
      padding: 8px 30px;
    }
  }

  @media (max-width: 992px) {
    .project-wrapper {
      // border-radius: var(--border-m);
      padding: 1.25rem;
      padding-bottom: 2.5rem;
      margin: 50px auto;
    }
    .text-wrapper {
      margin-top: 2rem;
    }
  }
  @media (max-width: 576px) {
    .project-wrapper {
      padding: 1.25rem;
      padding-bottom: 2.5rem;
      margin: 1rem auto;
    }
    .project-inner {
      width: 100%;
    }
    .text-wrapper {
      margin-top: 2rem;
      h1 {
        font-size: 30px;
      }
    }
    .pills {
      .pill {
        padding: 7px 20px;
      }
    }
  }
</style>
