---
import { Image } from "@astrojs/image/components";
const { data } = Astro.props;
---

<div class="project-wrapper">
  <div class="image-wrapper">
    <Image
      src={data.imageUrl}
      alt=`Project thumbnail for ${data.title}`
      width={1463}
      height={686}
      format="webp"
      quality={100}
      class="image-inner"
    />
  </div>
  <div class="text-wrapper">
    <h1>
      <a href=`/work/${data.slug}`>
        {data.title}
      </a>
    </h1>
    <p>{data.description}</p>
    <div class="pills">
      {
        data.design && (
          <div class="pill" style={{ background: "var(--green)" }}>
            <h6>Design</h6>
          </div>
        )
      }
      {
        data.development && (
          <div class="pill" style={{ background: "var(--yellow)" }}>
            <h6>Web development</h6>
          </div>
        )
      }
    </div>
  </div>
</div>

<style lang="scss">
  .project-wrapper {
    width: min(80vw, 1600px);
    background: var(--grey-100);
    border-radius: 30px;
    margin: 100px auto;
    margin-top: 50px;
    padding: 5rem 3rem;
    padding-top: 3rem;
  }
  .image-wrapper {
    overflow: hidden;
    border-radius: 20px;
    aspect-ratio: 1463/686;
    height: auto;
    width: 100%;
    display: grid;
    place-items: center;
    .image-inner {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
  .text-wrapper {
    margin-top: 3rem;
    h1 {
      line-height: 100%;
      margin-bottom: 1rem;
    }
    p {
      max-width: 990px;
      color: var(--grey-300);
    }
  }
  .pills {
    display: flex;
    margin-top: 1rem;

    .pill {
      margin-right: 1rem;
      border-radius: 20px;
      padding: 8px 30px;
    }
  }

  @media (max-width: 992px) {
    .project-wrapper {
      border-radius: 20px;
      width: var(--project-width);
      padding: 4rem 2rem;
      padding-top: 2rem;
      margin: 50px auto;
    }
    .image-wrapper {
      border-radius: 10px;
    }
    .text-wrapper {
      margin-top: 2rem;
    }
  }
  @media (max-width: 576px) {
    .project-wrapper {
      padding: 2rem 1.25rem;
      padding-top: 1.25rem;
      margin: 50px auto;
    }
    .image-wrapper {
      border-radius: 10px;
    }
    .text-wrapper {
      margin-top: 2rem;
      h1 {
        font-size: 30px;
        letter-spacing: -0.1rem;
      }
    }
    .pills {
      .pill {
        padding: 7px 20px;
      }
    }
  }
</style>
