---
import Marquee from "../../Marquee.astro";
---

<div class="landing-wrapper">
  <div class="marquee-wrapper"><Marquee text="A.Nowacki" /></div>
  <div class="details-wrapper-flex">
    <small class="detail-text">
      Montreal, QC
      <br />
      <span class="weather"></span>
    </small>
    <small class="detail-text"
      >UX/UI Design <br />Web Development <br /> Brand Strategy</small
    >
    <small class="detail-text details-flex"
      ><span class="label">Socials</span>
      <span>
        <a
          id="link-hover-text"
          data-hide-arrow="true"
          href="https://www.are.na/andrew-nowacki/"
          rel="noreferrer"
          target="_blank">Are.na</a
        >
        <br />
        <a
          id="link-hover-text"
          data-hide-arrow="true"
          href="https://www.instagram.com/andrewnowacki_/"
          rel="noreferrer"
          target="_blank">Instagram</a
        >
      </span></small
    >
    <small class="detail-text details-flex"
      ><span class="label">Contact</span>
      <span>
        <a
          id="link-hover-text"
          data-hide-arrow="true"
          href="mailto:andrew.p.nowacki@gmail.com"
          rel="noreferrer"
          target="_blank">andrew.p.nowacki@gmail.com</a
        >
        <!-- <br /> -->
        <a href="sms:4388847079" id="link-hover-text" data-hide-arrow="true">
          (438) 884-7079</a
        >
      </span>
    </small>
  </div>
</div>

<style lang="scss">
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.24;
    }
    100% {
      opacity: 1;
    }
  }
  .landing-wrapper {
    width: min(100%, 2000px);
    border-radius: var(--border-xl);
    overflow: hidden;
    background: var(--white);
    position: relative;
  }
  .marquee-wrapper {
    overflow: hidden;
    border-radius: var(--border-l);
    margin: 2.5rem auto;
    // background: var(--grey-200);
    background: #e7e7e7;
    // height: 500px;
    height: auto;
    position: relative;
    width: 96%;
  }
  .details-wrapper-flex {
    width: 90%;
    margin: 5rem auto;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .detail-text {
    text-transform: uppercase;
    &:not(.label) {
      color: var(--grey-300);
    }
  }
  a:hover {
    // animation: blink 0.76s infinite ease-in-out;
    // transition: var(--hover-transition);
    // color: var(--grey-200);
  }
  .details-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .label {
      margin-right: 2rem;
      color: var(--grey-200);
    }
  }

  @media (max-width: 1280px) {
    .details-wrapper-flex {
      small {
        font-size: 12px;
      }
    }
  }
  @media (max-width: 992px) {
    .marquee-wrapper {
      width: 92.5%;
      margin: 1.25rem auto;
    }
    .details-wrapper-flex {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;
      margin: 4rem auto;
    }
    .detail-text {
      width: 100%;
    }
    .details-flex {
      flex-direction: column;
      .label {
        margin-right: 0;
        margin-bottom: 0.5rem;
      }
    }
  }

  @media (max-width: 576px) {
    .details-wrapper-flex {
      small {
        font-size: 12px;
      }
    }
  }
</style>

<script>
  // get clock
  // function updateClock() {
  //   const now = new Date();
  //   let hours = now.getHours();
  //   let minutes = now.getMinutes();
  //   let seconds = now.getSeconds();

  //   // Format the time
  //   const timeString = `${hours.toString().padStart(2, "0")}:${minutes
  //     .toString()
  //     .padStart(2, "0")}:${seconds.toString().padStart(2, "0")}`;

  //   // Update the clock element
  //   const clockElement = document.querySelector(".clock");
  //   clockElement.textContent = timeString;
  // }

  // // Update the clock immediately
  // updateClock();

  // // Update the clock every second
  // setInterval(updateClock, 1000);

  // get weather
  const apiKey = import.meta.env.PUBLIC_WEATHER_API_KEY;
  const apiUrl = `https://api.openweathermap.org/data/2.5/weather?q=Montreal&units=metric&appid=${apiKey}`;

  fetch(apiUrl)
    .then((res) => res.json())
    .then((data) => {
      console.log(data.weather[0].description);
      const weatherID = data.weather[0].id;

      function getWeatherEmoji(weatherID) {
        if (weatherID === 800) {
          return "Sunny â˜€ï¸";
        } else if (weatherID > 800 && weatherID < 804) {
          return "Some clouds ðŸŒ¤";
        } else if (weatherID === 804) {
          return "Overcast â˜";
        } else if (weatherID < 781 && weatherID > 700) {
          return "Foggy ðŸŒ«";
        } else if (weatherID === 781) {
          return "Tornado ðŸŒª";
        } else if (weatherID < 700 && weatherID >= 600) {
          return "Snowy ðŸŒ¨";
        } else if (weatherID < 600 && weatherID > 500) {
          return "ðŸŒ§";
        } else if (weatherID === 500) {
          return "Light Rain ðŸŒ¦";
        } else if (weatherID < 500 && weatherID >= 300) {
          return "Drizzle ðŸŒ¨";
        } else if (weatherID <= 221 && weatherID >= 200) {
          return "Thunderstorm ðŸŒ©";
        } else if (weatherID <= 232 && weatherID >= 230) {
          return "Thunderstorm â›ˆ";
        }
        return "";
      }
      // const weatherDescription = getWeatherEmoji(weatherID);
      const weatherDescription = data.weather[0].description;
      const temperature = Math.trunc(`${data.main.temp}`);

      const weatherElement = document.querySelector(".weather");
      weatherElement.textContent = `${temperature}Â°C, ${weatherDescription}`;

      const areaElement = document.querySelector(".area");
      areaElement.textContent = `${data.name}, QC`;
    });
</script>
