---
import MagneticButton from "./MagneticButton.astro";
const { data } = Astro.props;
---

<header class="wrapper">
  <h2 class="page-title">{data.title}</h2>
  <MagneticButton url={data.url} />
  <div class="details-container">
    {
      data.details.map((category) => {
        return (
          <div class="column">
            <h6 class="column-title">{category.label}</h6>
            {category.label === "Team"
              ? category.data.map((details) => {
                  return (
                    <h6>
                      {details.name} <span class="role">({details.role})</span>
                    </h6>
                  );
                })
              : category.data.map((details) => {
                  return <h6>{details}</h6>;
                })}
          </div>
        );
      })
    }
  </div>
</header>

<style lang="scss">
  .wrapper {
    width: var(--project-width);
    margin: 0 auto;
    .page-title {
      padding: 3.5rem 0;
    }
  }

  .details-container {
    padding: 3.5rem 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    .column {
      padding-right: 0.675rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .column-title {
        color: var(--grey-300);
        margin-bottom: 0.5rem;
      }
    }
  }
  .role {
    margin-left: 5px;
    font-size: 14px;
    color: var(--grey-300);
  }
  @media (max-width: 768px) {
    .details-container {
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-around;
      padding-bottom: 0;
      .column {
        margin-bottom: 2.5rem;
      }
    }
  }
  @media (max-width: 576px) {
    .details-container {
      padding-bottom: 1.5rem;
      .column {
        margin-bottom: 1.5rem;
      }
    }
    .wrapper {
      .page-title {
        padding: 2rem 0;
      }
    }
    .role {
      display: none;
    }
  }
</style>
